[submodule "node-scheduler"]
	path = node-scheduler
	url = https://github.com/turaymelo/node-scheduler.git
[submodule "node-windowsservice"]
	path = node-windowsservice
	url = https://github.com/turaymelo/node-windowsservice.git
[submodule "nodejs-attendance-api"]
	path = nodejs-attendance-api
	url = https://github.com/gmahota/nodejs-attendance-api.git
[submodule "nodejs-attendance-web"]
	path = nodejs-attendance-web
	url = https://github.com/gmahota/nodejs-attendance-web.git
[submodule "nextjs-attendance-web"]
	path = nextjs-attendance-web
	url = https://github.com/gmahota/nextjs-attendance-web.git
[submodule "nodejs-biostar2-api"]
	path = nodejs-biostar2-api
	url = https://github.com/gmahota/nodejs-biostar2-api.git
